body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #ffffff, #f2e8ff);
}

/* Header */
header {
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, #ffffff, #f9e8ff);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #673AB7;
}

/* Sections */
section {
  padding: 80px 0;
}

#section {
  background: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(249,231,245,0.9)), url('/assets/photo-1556010392-36e3577857ce.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

#section h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 24px;
}

#section p {
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 32px;
}

#section .button {
  display: inline-block;
  background-color: #673AB7;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 32px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: auto;
}

#section .button:hover {
  background-color: #512DA8;
}

#about {
  background: linear-gradient(to bottom, rgba(249,231,245,0.9), rgba(255,255,255,0.9));
}
#about .button {
  display: inline-flex;
  background-color: #673AB7;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 32px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin: auto;
}

#about h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 24px;
}

#about p {
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 32px;
}
  /* Styles for the footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    height: 60px;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer p {
    font-size: 16px;
    margin: 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links a {
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }